body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/

   --h1-size: 24px !important;
   --h2-size: 22px !important;
   --h3-size: 20px !important;
   --h4-size: 18px !important;
   --h5-size: 16px !important;
   --h6-size: 14px !important;


    .navbar {
      z-index: 9999;
    }

    .content {
      font-size: 14px !important;
      max-width: 620px !important;
      --h6-weight: 400 !important;
    }

    .toc {
      padding: 0 10px !important;
      border-radius: 0 !important;
    }

    .toc-container {
      margin-top: 8px !important;
      font-size: var(--h6-size) !important;
    }

    .toc-container li::before {
      display: none !important;
    }

    --color-accent: #9ba952 !important;
    --color-selection-bg: #edfda1 !important;
    --color-selection-text: var(--code-string) !important;
    --link-external-color-hover: #c3e80b !important;
    --link-external-decoration-hover: #c3e80b !important;
    --scrollbar-bg: #eeeeee80 !important;
    // --checkbox-size: 16px !important;

    ::-moz-selection { /* Code for Firefox */
      color: var(--color-selection-text) !important;
      background: var(--color-selection-bg) !important;
    }
    
    ::selection {
      color: var(--color-selection-text) !important; 
      background: var(--color-selection-bg) !important;
    }

    .header-tags{
      display: flex !important;
      gap: 4px !important;
    }

    a.tag:hover {
      background-color: var(--background-secondary) !important;
    }

    .search-button {
      border: none !important;
      padding: 0 16px;
      background-color: var(--background-secondary);
    }

    .search-box {
      border-radius: 4px !important;
      border: 1px solid var(--color-accent) !important;
    }

    .searchresult{
      border-radius: 4px !important;
    }

    .graph-title-container{
      padding: 16px !important;
    }

    .graph-title{
      display: none !important;
    }

    #link-graph{
      border-radius: 0 !important;
    }

    .ctrl-right {
      margin-right: 12px !important;
    }

    #tooltip-wrapper{
      outline: 1px solid var(--color-accent) !important;
     
    }
    #tooltip-content{
      padding: 6px !important;
    }

    .excalidraw-wrapper {
      outline: 1px solid var(--color-accent) !important;
    }

    .giscus {
      max-width: 620px;
      margin-top: 120px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
}
 